.search {
  margin-left: 9.6rem;
  text-align: center;
  width: calc(100% - 9.6rem); /* Adjust width to fit within the layout */
  background-color: #fafafa;
  padding-bottom: 5rem; /* Add padding to the bottom to accommodate the absolute position of the button */
}

.search__h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: var(--text);
  margin: 32px auto;
}

.form__search {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.search__input {
  border-radius: 28px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  width: 100%; /* Ensure the input takes the full width of the form */
}

.search__icon {
  position: absolute;
  right: 2rem;
  top: 2.2rem;
}

.add__btn {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  width: 50rem;
  border-radius: 28px;
  cursor: pointer;
  border: none;
  color: #fafafa;
  margin: 20px auto;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.add__btn img {
  margin-right: 8px;
}

.add__btn:hover {
  color: #fafafa;
  border: none;
  text-decoration: underline;
  opacity: 0.9;
}
