.search {
  margin-left: 9.6rem;
  text-align: center;
  width: calc(100% - 9.6rem);
  background-color: #fafafa;
  padding-bottom: 5rem;
}

.search__h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: var(--text);
  margin: 32px auto;
}

.form__search {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.search__input {
  border-radius: 28px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  width: 100%;
}

.search__icon {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.add__btn {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  width: 50rem;
  border-radius: 28px;
  cursor: pointer;
  border: none;
  color: #fafafa;
  margin: 20px auto;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.add__btn img {
  margin-right: 8px;
}

.add__btn:hover {
  color: #fafafa;
  border: none;
  text-decoration: underline;
  opacity: 0.9;
}

.results__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
  gap: 20px;
  padding: 20px;
}

.recipe__card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.recipe__card:hover {
  background-color: var(--primary);
}

.recipe__card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.recipe__details {
  padding: 10px;
}

.recipe__details h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
  margin-bottom: 1rem;
}

.recipe__details p {
  font-size: 14px;
  color: var(--text-faded);
}
